<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Financeiro Pessoal</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <span class="menu-title">Cadastros</span>
        @foreach (var menu in Rotinas.Cadastros)
        {
            <li class="nav-item">
                <NavLink class="nav-link" href="@menu.URL">
                    <span class="@menu.Icone" aria-hidden="true"></span> @menu.Descricao
                </NavLink>
            </li>
        }
        
        <span class="menu-title">Financeiro</span>
        @foreach (var menu in Rotinas.Financeiro)
        {
            <li class="nav-item">
                <NavLink class="nav-link" href="@menu.URL">
                    <span class="@menu.Icone" aria-hidden="true"></span> @menu.Descricao
                </NavLink>
            </li>
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
