@page "/financeiro/adicionar"
@page "/financeiro/edicao/{id:int}"
@inherits API

<div class="container">
    <div class="upsert-form-title">
        <h1>@(ID == 0 ? "Adição de Financeiro" : "Edição de Financeiro")</h1>
    </div>

    <EditForm Model="Financeiro" OnValidSubmit="Confirmar" OnInvalidSubmit="Invalido" class="upsert-form row">
        <DataAnnotationsValidator />

        <div class="col-sm-12">
            <label class="d-block">Tipo de Lançamento</label>
            <div class="upsert-form-radio">
                <input type="radio" id="financeiroreceita" name="tipoconta" checked=@Financeiro.Receita @onchange="() => OnChangeTipoFinanceiro(1)"/>
                <label for="financeiroreceita">Receita</label>                
            </div>            
            <div class="upsert-form-radio">
                <input type="radio" id="financeirodespesa" name="tipoconta" checked=@Financeiro.Despesa @onchange="() => OnChangeTipoFinanceiro(2)"/>
                <label for="financeirodespesa">Despesa</label>
            </div>
        </div>

        <div class="col-sm-6">
            <label>Descrição</label>
            <input type="text" @bind="Financeiro.Descricao">
        </div>

        <div class="col-sm-6">
            <label>Categoria</label>
            <select @bind="Financeiro.CategoriaID"> 
                @if (Categorias is null)
                {
                    <p>Carregando...</p>
                }
                else if (Categorias.Count() == 0)
                {
                    <p>Não foram encontradas categorias!</p>
                }
                else
                {
                    foreach (var categoria in Categorias)
                    {
                        <option value="@categoria.ID">@categoria.Descricao</option>
                    }
                    
                }
            </select>
        </div>

        <div class="col-sm-4">
            <div>
                <label>Emissão</label>
                <input type="date" @bind="Financeiro.DataEmissao"/>
            </div>
            
        </div>

        <div class="col-sm-4">
            <label>Vencimento</label>
            <input type="date" @bind="Financeiro.DataVencimento" />
        </div>

        <div class="col-sm-4">
            <label>Valor</label>
            <input type="text" @bind="Financeiro.Valor" />
        </div>

        <div class="col-sm-12">
            <label>Individuos</label>
            <select @bind="Financeiro.IndividuoID">  
                @if (Individuos is null)
                {
                    <p>Carregando...</p>
                }
                else if (Individuos.Count() == 0)
                {
                    <p>Não foram encontrados individuos!</p>
                }
                else
                {
                    foreach (var individuo in Individuos)
                    {
                        <option value="@individuo.ID">@individuo.Nome</option>
                    }
                }
            </select>
        </div>

        <div class="col-sm-12">
            <label>Observações</label>
            <textarea rows="10" @bind="Financeiro.Observacoes"></textarea>
        </div>

        <div class="col-sm-12 upsert-form-buttons">
            <button type="submit">@(ID == 0 ? "Adicionar" : "Atualizar")</button>
            <a href="/financeiro">Listagem</a>
            @if (ID != 0)
            {
                <button type="button">Quitar</button>
                <button type="button">Apagar</button>
            }
        </div>
    </EditForm>
</div>

<PopUp Titulo="Quitar" Visivel=QuitarVisivel >
    <PopUpBody>
        <Quitacao />
    </PopUpBody>
</PopUp>

@code {
    [Parameter] public int ID { get; set; }
    public Financeiro Financeiro { get; set; }
    public List<Categoria> Categorias { get; set; }
    public List<Individuo> Individuos { get; set; }

    public bool QuitarVisivel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (ID == 0) Adicao();
        else await Edicao();

        await CarregarCategorias();
        await CarregarIndividuos();
    }

    private void Adicao()
    {
        Financeiro = new Financeiro 
        {
            ID = 0,
            DataEmissao = DateTime.Now,
            DataVencimento = DateTime.Now,
            Receita = true
        };
    }

    private async Task Edicao()
    {
        Financeiro = await GetFinanceiro(ID);
        if (Financeiro.IndividuoID is null) Financeiro.IndividuoID = 0;
    }

    private async Task CarregarFinanceiro()
    {
        Financeiro = await GetFinanceiro(ID);
    }

    private async Task CarregarCategorias()
    {
        Categorias = await GetCategorias();
    }

    private async Task CarregarIndividuos()
    {
        Individuos = await GetIndividuos();
        Individuos.Insert(0, new Individuo { ID = 0, Nome = "Nenhum" });
    }

    private async Task Confirmar()
    {
        if (ID == 0) await Adicionar();
        else await Atualizar();

        Navigation.NavigateTo("financeiro");
    }

    private async Task Invalido(EditContext context)
    {

    }

    private async Task Adicionar()
    {
        await PostFinanceiro(Financeiro);
    }

    private async Task Atualizar()
    {
        await PutFinanceiro(Financeiro);
    }

    private void OnChangeTipoFinanceiro(int i)
    {
        switch (i)
        {
            case 1:
                Financeiro.Despesa = false;
                Financeiro.Receita = true;
                break;
            case 2:
                Financeiro.Despesa = true;
                Financeiro.Receita = false;
                break;
        }
    }
}